.BGimg{
    position: absolute;
    width: 1349px;
    height: 677px;
    left: 0px;
    top: 92px;    
}
.Reg{
    position: absolute;
    width: 1349px;
    height: 59px;
    left: 0px;
    top: 106px;
    background: rgba(0, 0, 0, 0.8);
}
.Reg span{
    position: absolute;
    width: 200px;
    height: 39px;
    left: 36px;
    top: 11px;
    font-family: 'Bruno Ace SC';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #ffffff;
}
.text span{
    position: absolute;
    width: 503px;
    height: 95px;
    left: 36px;
    font-family: 'Cairo';
    font-style: normal;
    font-size: 20px;
    line-height: 37px;
    color: #FFFFFF;
}
.box{
    position: absolute;
    width: 441px;
    height: 537px;
    left: 823px;
    top: 194px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
.box .FB{
    position: absolute;
    width: 148px;
    height: 67px;
    left: 150px;
    top: 18px;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 67px;
    color: #FFFFFF;
}
.box i{
    position:relative;
    color: #d9d9d9;
    top: 80px;
    left: 35px;
    padding: 15px;
    font-size: 35px;    
}
.Email{
    position: relative;
    height: 46px;
    width: 355px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 7px;
    left: 27px;
    top: 110px;
    padding-left: 25px;
}
 ::placeholder{
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    color: #000000;
    position: relative;
    left: 0px;
    top: -1px;
}
textarea{
    position: relative;
    left: 27px;
    top: 147px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 7px;
    padding-left: 10px;
    width: 370px;
    height: 139px;
}
button{
    position: relative;
    display: inline;
    width: 170px;
    height: 46px;
    left: 135px;
    top: 190px;
    background: #0073DD;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.Send{
    position: relative;
    font-family: 'Cairo';
    font-style: normal;
    font-size: 25px;
    line-height: 45px;
    color: #FFFFFF; 
}

